.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden !important;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
.container img {
  height: 100%;
  width: 100% !important;
  object-fit: cover;
}
.card {
  position: absolute;
  top: 25%;
  left: 10%;
  height: 60%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
}
.card h1 {
  font-size: 50px;
}
.card h1:nth-child(2) {
  font-size: 55px;
}
.card a {
  text-decoration: none;
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 10px 40px;
  border-radius: 50px;
}

/* Hover */

.hover {
  outline: none !important;
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.hover:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background-color: #dc3545;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.hover:hover {
  color: #fff;
}

.hover:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
@media (max-width: 1000px) {
  .parent h1 {
    font-size: 40px !important;
    transition: 1s !important;
  }
}
@media (max-width: 700px) {
  .parent h1 {
    font-size: 25px !important;
    transition: 1s !important;
  }
  .parent h5 {
    font-size: 15px !important;
  }
}
@media (max-width: 480px) {
  .parent h1 {
    font-size: 20px !important;
    transition: 1s !important;
  }
  .parent h5 {
    font-size: 11px !important;
  }
  .parent p {
    font-size: 10px !important;
  }
  .card a {
    padding: 8px 30px;
    font-size: 11px;
  }
}
